* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.search-form {
  background-color: #63b1ed;
  height: 60px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
}

input {
  width: 300px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 10px;
  outline: transparent;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 40px;
  margin-bottom: 50px;
}

.photo-link {
  display: block;
  height: 250px;
  width: 325px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}

.search-form button {
  border: none;
  width: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

.search-form button::after{
  content: '';
  position: absolute;
  background-image: url('../images/search-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.load-more {
  display: none;
  margin: 0 auto;
  width: 200px;
  padding: 10px;
  background-color: #63b1ed;
  outline: transparent;
  border: transparent;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}
.load-more:hover {

  background-color: #29a2ff;
}

.load-more-visible {
  display: block;
}